@import url('https://fonts.googleapis.com/css2?family=Tomorrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    margin:0;
    font:normal 75% Arial, Helvetica, sans-serif;
}
canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position:fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #0b0c10;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    top:0; z-index: -1;
}

.textbox {
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
}
.page1 {
    text-align:center;
    position:fixed;
    height:100%;
    top:0px;
}



/* NOTE FIX FOR MOBILE  */

.page2 {
    text-align:center;
    position:absolute;
    width:100%;
    margin-top:100vh;
    display:flex;
}

.p2left, .p2right {
    width:auto
}

.p2left {
    width:60%;
    background-color: #1F2833;
}

.p2right {
    width:40%;
    background-color: #45A29E;
}

.p2ltitle {
    text-align:left;
    color: white;
    margin-left: 10px;
    font-family: 'Tomorrow', sans-serif;
    font-size:80px;
    margin-top:5px;
    margin-bottom:20px;
}

.p2ltitlecc {
    animation-name: p2ttla1;
    animation-duration: 2s;
}

.p2lstitle {
    text-align:left;
    color: white;
    margin-left: 10px;
    font-family: 'Tomorrow', sans-serif;
    font-size:40px;
    margin-top:5px;
}

.p2lpara {
    text-align:left;
    color: lightgrey;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size:20px;
    margin-top:5px;
}

@keyframes p2ttla1 {
    0% { color: white;}
    50% { color: green}
    100% { color:white;}
}


.adj {
    width:100%;
    height:64px;
}

#title {
    font-family: 'Tomorrow', sans-serif;
    font-size: 11vw;
    color: #d5f0ff;
    letter-spacing: 3px;
    margin-top:20px;
    margin-bottom: 10px;
}

.header {
    width:100%;
}

.logo {
    margin: 8px;
    height: 60px;
    width: 60px;
}
html, body {
  margin:0;
  padding:0;
  /* overflow:hidden; */
}

.text {
    color: white;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
    font-size: 18px;
    margin: 10px;
    margin-top: 5px;
    margin-bottom:15px;
}

.green {
    color: green !important;
}

.mdc-button:not(:disabled) {
    color: white;
}

.white {
    color:white;
}

.description {
    width: 60%;
    margin-left: 20%;
    font-size: 17px;
    color:#C5C6C7;
}

.mdc-button--outlined {
    border: 1px solid #ffd000 !important;
    border-radius: 2px;
}

.mdc-top-app-bar {
    background-color: rgba(0, 0, 0, 0);
}

.sv {
    margin-top:12px;
    height: 40px;
    margin-left:5px;
    margin-right:5px;
    animation-name: constrict;
    animation-duration: .5s;
}

.sv:hover {
    height:60px;
    animation-name: expand;
  animation-duration: .5s;
}

@keyframes expand {
    from { height:40px}
    to { height:60px}
  }

@keyframes constrict {
    from { height:60px}
    to { height:40px}
}



.iconsbox {
    position: absolute;
    right:0;
}

.spacing {
    letter-spacing: 2px;
}

.bottom {
    position:absolute;
    bottom: 5px;
    width:100%;
    left:0px;
}

.font-t {
    font-family: 'Tomorrow', sans-serif;
}

.center {
    text-align: center;
}

.blankspace {
    height:2000px;
}

.ontop {
    position: absolute;
    top:0;
}

.pfp {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

#effect {
    overflow-x: hidden;
}