<!DOCTYPE html>
<html>
    <head>
      {{!-- META --}}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

      {{!-- Material Components --}}

      <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet" type="text/css">
      <script defer src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
      
      {{!-- General CSS Imports --}}

      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <link rel="stylesheet" href="../css/common.css">

      {{!-- General JS Imports --}}

      <script defer src="https://www.googleoptimize.com/optimize.js?id=OPT-WPS9HFR"></script>
      <script defer src="../js/materiallib.js"></script>

      {{!-- FONTS --}}

      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">


    </head>
    <body data-barba="wrapper">
      <ul class="transition">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
        

      <aside class="mdc-drawer mdc-drawer--modal">
        <div class="mdc-drawer__header">
          <h3 class="mdc-drawer__title" src="signin.html">Dashboard</h3>
          <h6 class="mdc-drawer__subtitle trigger">{{#if userData.email}} {{userData.email}} {{else}} <a href="javascript:void(0)"  class="link signin dashboard-signin" id="dashboard-signin">Sign In</a>{{/if}}</h6>
        </div>
        <div class="mdc-drawer__content">
          <nav class="mdc-list">
            <a class="mdc-list-item mdc-list-item--activated dashboard-account" href="#" tabindex="0" aria-current="page">
              <i class="material-icons mdc-list-item__graphic avatar avatar2" aria-hidden="true" src="signin.html">{{#if profileImageUrl}} <img class="pfp" src={{profileImageUrl}}> {{else}} account_circle{{/if}}</i>
              <span class="mdc-list-item__text dashboard-account" id="dashboard-account" href="signin.html">My Account</span>
            </a>
            <a class="mdc-list-item" href="#" tabindex="0">
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">all_out</i>
              <span class="mdc-list-item__text">My Team</span>
            </a>
            <a class="mdc-list-item" href="#" tabindex="0">
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">search</i>
              <span class="mdc-list-item__text">Search</span>
            </a>
            <a class="mdc-list-item" href="#" tabindex="0">
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">notes</i>
              <span class="mdc-list-item__text">Scouting</span>
            </a>
            <a class="mdc-list-item" href="#" tabindex="0">
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">miscellaneous_services</i>
              <span class="mdc-list-item__text">Other Services</span>
            </a>
            <a class="mdc-list-item" href="#" tabindex="0">
              <i class="material-icons mdc-list-item__graphic" aria-hidden="true">info</i>
              <span class="mdc-list-item__text">Info</span>
            </a>
          </nav>
        </div>
      </aside>

      <div class="mdc-drawer-scrim"></div>

      <div class="mdc-drawer-app-content">

        <header class="mdc-top-app-bar mdc-top-app-bar--fixed">
          <div class="mdc-top-app-bar__row">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start" id="headerC">
              <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
              <span class="mdc-top-app-bar__title"></span>
              <div class="iconsbox">
                <img class="sv" src="https://img.icons8.com/dusk/64/000000/ios-logo.png"/>
                <img class="sv" src="https://img.icons8.com/dusk/64/000000/android.png"/>
                <img class="sv" src="https://img.icons8.com/plasticine/100/000000/discord-logo.png"/>
                <img class="sv" src="https://img.icons8.com/dusk/64/000000/slack.png"/>
              </div>
            </section>
          </div>
        </header>

        <main class="mdc-top-app-bar--fixed-adjust">
      </div>



      
      <main data-barba="container" data-barba-namespace="index">
      
        {{!-- PAGE SPECIFIC CSS COMPONENTS --}}
        <link rel="stylesheet" href="../css/index.css">
        <link rel="stylesheet" href="../css/transitions.css">

        <div id="particles-js"> </div>
        <div class="page1">
            <div class="adj">

            </div>
            <div class="textbox">
                <h1 class="text" id="title"> Scoultimate </h1>
                <h3 class="text description"> An innovative user friendly solution made for everyone. All the data you want, right at your fingertips -- well formatted and easy to read. Everything you could want from a robotics-related site, all in one place. Part social media, part scouting app.</h3>
                <h4 class="text white"> Perfect For You</h4>
            </div>
            <div class="btnbox">
              <a class="undecorated" href="/team/2264">
              <div class="mdc-touch-target-wrapper">
                <button href="/team/2264" class="mdc-button mdc-button--outlined">
                  <div class="mdc-button__ripple"></div>
                  <span  class="mdc-button__label" style="color: #ffd000;">Get Started</span>
                </button>
              </div>
              </a>
            </div>
        </div>

        <div class="textbox bottom center">
          <h4 class="text font-t gyv">See What We Offer</h4>
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"width="30" height="30" viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#FFFFFF" class="fillani"><path d="M86.20156,7.47125c-43.63156,0 -79.12,35.48844 -79.12,79.12c0,43.63156 35.48844,79.12 79.12,79.12c43.61812,0 79.12,-35.48844 79.12,-79.12c0,-43.63156 -35.50188,-79.12 -79.12,-79.12zM115.95219,102.19219l-27.52,27.52c-0.30906,0.3225 -0.69875,0.56438 -1.11531,0.73906c-0.41656,0.17469 -0.87344,0.26875 -1.31688,0.26875c-0.44344,0 -0.90031,-0.09406 -1.31687,-0.26875c-0.41656,-0.17469 -0.79281,-0.41656 -1.11531,-0.73906l-27.52,-27.52c-1.34375,-1.34375 -1.34375,-3.52062 0,-4.86437c1.34375,-1.34375 3.52062,-1.34375 4.86437,0l21.64781,21.64781v-74.25563c0,-1.89469 1.54531,-3.44 3.44,-3.44c1.89469,0 3.44,1.54531 3.44,3.44v74.25563l21.64781,-21.64781c1.34375,-1.34375 3.52062,-1.34375 4.86437,0c1.34375,1.34375 1.34375,3.52062 0,4.86437z"></path></g></g></svg>
        </div>


        <div class="page2" id="effect">
          <div class="p2left">
            <h1 class="p2ltitle">Our <a class="p2ltitlecc">Vision</a></h1>
            <h4 class="p2lpara">When we created scoultimate, we noticed a trend in resources for robotics competitions. Most of them provided too much data at once -- easily overwhelming the unsuspecting user. While these kinds of resources definetly have their niche, we aimed to create a social media style robotics site that provided information in a much more managable, easy to read format.</h4>
            <h3 class="p2lstitle">Part Social Media</h3>
            <h4 class="p2lpara">Getting the most important information on teams, events, and seasons has never been easier. With social-media style layouts and features (such as following teams to get notifications), Scoultimate creates a uniquely "robotics-esqe" social media platform.</h4>
            <h3 class="p2lstitle">Part Scouting App</h3>
            <h4 class="p2lpara">Another vision of ours was the create the most comprehensive, in-depth scouting app we could. Using data from our multiple APIs, we got to work and created a scouting app that does more then simply present scores.</h4>

          </div>
          <div class="p2right">

          </div>
        </div>


        </main>


      {{!-- NEED THESE IMPORTS EVERY TIME (ALONGSIDE MDC) --}}
      <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>
      <script src="../js/transitions.js"></script>
      <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </body>
</html>