<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{teamNickName}} | Scoultimate</title>
    <link rel="stylesheet" href="../css/test.css">
</head>
<body>
    <h2>{{teamNickName}}</h2>
    <h5>{{teamName}}</h5>
</body>
</html>